.btn{
    background-color: black;
}

.btn-primary{
    background-color: red;
    color: yellow;
    transition: 1.2s;
    border-color: red !important;
    font-weight: bold !important;
}

.btn-primary:hover {
    background-color: yellow !important;
    color: red !important;
    border-color: yellow !important;
    font-weight: bold !important;
}

#navbar-contenedor{
    background-color: rgb(216, 0, 0);
}

.navbar-brand{
    color: yellow ;
    font-weight: bolder;
}

.nav-link{
    color: white !important;
}

.card{
    margin-top: 3rem;
}

img{
    width: 100%;
    min-height: 100px;
    height: 15vw;
    object-fit: cover;
}
